@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black-color);
    font-family: var(--font-family-primary);
    font-size: 16px;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    max-width: 1512px;
    width: 90%;
    margin: 0 auto;
}

button {
    font-family: var(--font-family-primary);
}

.button {
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 700;
    transition: var(--transition-03s);
    position: relative;
    border: 1px solid var(--white-color);
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: var(--gradient-color);
    border: 1px solid var(--primary-color);
}
